{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Ling's Minimal Portfolio</h2>

    <h3>
        Some projects I've worked on... (I'm not a designer)<br><br>

    <div align="left" style='padding:10px'>
    <!-- <h3>This is the home page for the Flask app<h3> -->
    <li><a href='http://www.productbio.com'>ProductBio.com</a> (vendor site password-protected)</li>
    <li><a href='http://communityresourcedata.codefordc.org/cdc_submission.html'>Civic Data Challenge Bronze Winner</a> <a href='http://www.civicdatachallenge.org/2013-finalists'>(finalsts)</a href> <a href='http://blog.visual.ly/civic-data-challenge-winners-announced/'>(more press)</li>
    <li><a href='http://www.kaggle.com/users/51653/ling-cheng'>Kaggle Ranked Profile in Top 0.5%</a> <a href='https://github.com/tlingf/bluebook'>(Github link to bluebook contest code)</a>
    </align>
</h3>

  </div>
{% endblock %}
