{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Ling's Minimal Portfolio</h2>

    <!-- <h3> -->

    <div align="left" style='padding:10px'>
    <!-- <h3>This is the home page for the Flask app<h3> -->
    <li><a href='http://www.productbio.com'>ProductBio.com</a> - For several months I was the main developer on a Django site that connects sustainable buyers and sellers. I mostly worked on the vendor site, which is password protected.</li>
    <li><a href='http://communityresourcedata.codefordc.org/cdc_submission.html'>Civic Data Challenge Bronze Winner</a> <a href='http://www.civicdatachallenge.org/2013-finalists'>(finalsts)</a href> <a href='http://blog.visual.ly/civic-data-challenge-winners-announced/'>(more press)</a> - For our entry, we proposed an open directory of community resources, such as health and social service agencies. My cursory analysis showed that areas of poverty also had lower concentrations of community workers, though it is not clear how much of this is due to lack of funding. In any case, there is opportunity to identify and address mismatches between demand and capacity of services.</li>
    <li><a href='http://www.kaggle.com/users/51653/ling-cheng'>Kaggle Ranked Profile in Top 0.5%</a> <a href='https://github.com/tlingf/bluebook'>(Github link to bluebook contest code)</a>
    - I placed 30th/479 (top 7%) in a predictive modeling competition to best predict the auction price of bulldozers. Used machine learning models: random forest (of decision trees), gradient boosting, and regression.
    </align>
<!-- </h3> -->

  </div>
{% endblock %}
